<!DOCTYPE html>
<html lang="en">
<head>
  <title>Is GTwifi down?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="raphael-min.js"></script>
  <script src="main.js"></script>
</head>
<body>

<a href="https://github.com/Tanner/isgtwifidown.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div class="container" id="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div id="svg" class="{{if .Green}}green{{else}}{{if .Yellow}}yellow{{else}}red{{end}}{{end}}"></div>

        {{if .Green}}
          <h2>No, it's just you.</h2>
        {{else}}
          {{if .Yellow}}
            <h2>There are some <a href="http://status.oit.gatech.edu/index.php?action=service&service=lawn">issues</a> right now.</h2>
          {{else}}
            <h2>Yep, GTwifi is <a href="http://status.oit.gatech.edu/index.php?action=service&service=lawn">down</a>.</h2>
          {{end}}
        {{end}}

        <p>{{.Reason}}</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>